.dammit{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    /* height: 1444px;
    width: 1045px; */
    /* margin: 20px 152px 50px 152px; */
   
}
#index{
    float: left;
    margin:0 11px 50px 11px;
    padding:16px 0 36px 0;
    z-index: 999;
    display: block;
    border-bottom: 1px solid #000000;
    
}
#promo-banner{
    background-color: #103746;
    background-image: url(https://cdn.shopify.com/s/files/1/0380/6785/t/30/assets/banner-edge.png?6410369661147204661);
    background-position: left center;
    background-repeat: no-repeat;
    height: 42px;
    line-height: 42px;
    display: block;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  
}


#promo-banner h3{
    color:white;
    padding-left: 6%;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
    display: block;
}

#promo-banner input{
    display: block;
    float: left;
    padding: 7px 3px;
    margin: 0 15px 0 0;
    font-family: 'Roboto Slab', serif;
    max-width: 100%;
}

#signup-banner{
    margin: 0 20px 0 0 ;
    padding: 6px 0 0 0;
    float: right;
    display: block;

}

#promo-banner form{
    float: right;
    margin-right:2px;
    padding-top:6px;
}

form{
    display: block;
}

.promo-images{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    
}

.promo-images img{
    margin: 0 15px 15px 0;
    height: auto;
    width: 30%;
 
}

.bob img{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* @media (max-width:1000px) {
    .promo-images img {
        
        height: auto;
        width: 100%
    }
    } */