.details{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
	
    align-content: space-between;
    width: 20%;
}

.shirt
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        color: #000;
        text-align: center;
    }

h1{
    
    font-size: 35px;
}

.shirt img{
    width: 50%;
    height: 50%;
    margin: 0 11px 0 11px;
} 

.shirt p{
    max-width: 100%;
    background-color: #103746;
    color: white;
    padding: 5px 10px 5px 10px;
}