body{
	margin: 0;
	text-decoration: none;
}
.item{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	text-decoration: none;
	width: 25%
}

.shirtList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	color: #000;
	text-align: center;
	text-decoration: none;
	margin: 20px 152px 50px 152px; }
    .item img{ 
        width: 15vw;
		height: auto;
	
	}

	a:link,a:visited { color: black; text-decoration: none; font-weight: normal;} 
	a:active, a:hover { color: black; text-decoration: none;}

	@media (max-width: 1000px){
		.item{
			width:50%;
		}
		.shirtList{
			margin: 0;
		}
		.item img{
			width: 30vw;
		}
	}