.item{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	text-decoration: none;
}

.shirtList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	color: #000;
	text-align: center;
	text-decoration: none;

}
    img{ 
        width: 300px;
        height: 300px;
    }