.searchbar{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: 700;
    color: #444444;
    background-color: #ebebeb;
    line-height: 37px;
    text-transform: uppercase;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    
}

.cart{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}