.searchbar{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: none;
    font-weight: bold;
    color: #444444;
    background-color: #ebebeb;
    line-height: 37px;
   
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    
}
.privacy{
    margin: 0 152px 0 152px;
}

.cart{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;
    margin: 0 11px 0 11px;
}

.search{
width: 36px;

}
.search li{
    padding: 0 0 0 10px;
    /* border-right: 1px solid #444444; */
    list-style-type: none;
}
.account{
width: 103.27px;
padding: 0 0 0 10px;
/* border-right: 1px solid #444444; */
text-align: center;
}
.bags{
width: 87.0625px;
padding: 0 0 0 10px;
text-decoration: none;
display: flex;
flex-direction: row;
}

.blueshipping{
    background-color: #57b9e7;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1.125px;
    line-height: 19.5px;
    padding: 7px 0 7px 0;
}

hr{
   
    height: 20px;
}