/* body{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
} */




.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-transform: none;
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin: 0 175px;
   

}

.dropdowns{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    
   
}
.bob img{
    width: 90px;
    height:21px
}

.shop{
    height: 44px;
    width: 77.1094px;
    text-align: center;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	align-items: center;
    align-content: center;
    /* padding: 10px 17px 8px 17px; */
    /* border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD; */

}

.collections{
    height: 44px;
    width: 138.453px;
    /* padding: 10px 17px 8px 17px; */
    text-align: center;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	align-items: center;
    align-content: center;
    /* border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD; */
}

.shop-by{
    height:44px;
    width: 100.438px;
    /* padding: 10px 17px 8px 17px; */
    text-align: center;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	align-items: center;
    align-content: center;
    /* border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD; */
}

.story{
    height: 44px;
    width:121.234px;
    /* padding: 10px 17px 8px 17px; */
    text-align: center;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	align-items: center;
    align-content: center;
    /* border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD; */
}

.dropdown{

list-style-type: none;
position: center;
display: inline-block;
position: absolute;
display: block;
background-color: #FFFFFF;

z-index: 1;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
border: 1px solid #DDDDDD;
/* padding: 20px 0px 20px 20px; */padding: 25px 50px;
/* height: 292px; */
/* width: 890px; */

color: #454545;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: flex-start;
align-content: center;
margin-left: 25%;
}

.hide-dropdown{

display: none;

}

.dropdown li{
    height: 25px;
    width: 130px;
}

#title{
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}
a{
    font-weight:400;
}

    a:link, a:visited { color: black; text-decoration: none; font-weight: normal;} 
    a:active, a:hover { color: black; text-decoration: none; font-weight: normal;}
