/* body{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
} */


.bob{
    height: 30px;
}

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-transform: none;
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
}

.dropdowns{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    
   
}
img{
    width: 225px;
    height:28.8125px
}

.shop{
    height: 44px;
    width: 77.1094px;
    text-align: center;
    padding: 10px 17px 8px 17px;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;

}

.collections{
    height: 44px;
    width: 138.453px;
    padding: 10px 17px 8px 17px;
    text-align: center;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

.shop-by{
    height:44px;
    width: 100.438px;
    padding: 10px 17px 8px 17px;
    text-align: center;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

.story{
    height: 44px;
    width:121.234px;
    padding: 10px 17px 8px 17px;
    text-align: center;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

