.logout{
    text-align: center;
    background-color: #103746;
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    margin: 100px 500px;
}

.logout a{
    color:white;
}