li{
    margin:0;
}
ul{
    list-style-type: none;
    
   
    
}
.f2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-start ;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #103746;
    line-height: 19.35px;
    text-align: left;  
    margin: 0;  
}

h4{
    text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
    color: #000;
    font-size: 16px;
    text-align: center;    

    
}  
.spread{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        margin: 0 132px 0 132px;
        padding: 30px 0 30px 0;
    
}
.footer{
    background: #467689;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
}

h3{
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 1.25em;
	font-family: 'Roboto Slab', serif;
    color: #000;
    width: 100%;
    margin: 0 0 30px 0;
    line-height:26.4px;

}

.signup{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: flex-start;
   
}

.signup input{
    border: 1px solid #B7B7B7;
    margin: 0 0 5px 0;
    padding: 9px 9px 8px  ;
    max-width:100%; 
    width: 130px;
    
}

.signup button{
    background-color: #0F6Db6;
    color: white;
    margin: 0 0 23px 0;
    padding: 8px 0 8px 0;
    max-width: 100%;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Roboto Slab",serif;
    text-decoration: none;
    width:90px;
    height: 36px;
}

